In [91]:
import pandas as pd

In [98]:
bankrupt = pd.read_csv(r'C:\Users\JH\Desktop\Final\CBA\Data\kind_bankrupt.csv', index_col ='Unnamed: 0')
train_full = pd.read_csv(r'C:\Users\JH\Desktop\코드_재무변수.csv', encoding='euc-kr')
train = pd.read_csv(r'C:\Users\JH\Desktop\코드_재무변수.csv', encoding='euc-kr', usecols = ['회사명','거래소코드','회계년도','소속코드','상장폐지일'])

In [99]:
bankrupt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 394 entries, 0 to 99
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   번호      394 non-null    int64
 1   시간      394 non-null    object
 2   회사명     394 non-null    object
 3   종목코드    394 non-null    int64
 4   공시제목    394 non-null    object
 5   제출인     386 non-null    object
dtypes: int64(2), object(4)
memory usage: 21.5+ KB

# **결측지 확인**

In [100]:
for i in range(267): 
    print(train_full.columns[i], train_full[train_full.columns[i]].isnull().sum())

회사명 0
거래소코드 0
회계년도 0
소속코드 0
상장폐지일 21826
감사의견코드 513
자산총계(요약) 333
유동자산(요약) 333
당좌자산(요약) 333
현금 및 현금성자산(요약) 333
단기투자자산(요약) 333
단기예금(요약) 333
단기매매증권(요약) 333
단기대여금(요약) 333
기타단기투자자산(요약) 333
매출채권(요약) 333
*할인어음 또는 배서어음(요약) 333
기타당좌자산(요약) 333
재고자산(요약) 333
상품(요약) 333
제품(요약) 333
반제품(요약) 333
재공품(요약) 333
원재료(요약) 333
기타재고자산(요약) 333
임대주택자산(요약) 333
비유동자산(요약) 333
투자자산(요약) 333
*장기금융상품(요약) 333
*투자유가증권(장기투자증권)(요약) 333
유형자산(요약) 333
토지 333
건설중인자산 333
건물 333
기계장치 333
차량운반구 333
렌탈자산 333
설비자산 333
무형자산(요약) 333
기타비유동자산(요약) 333
이연자산(요약) 333
부채총계(요약) 333
유동부채(요약) 333
매입채무(요약) 333
단기차입금(요약) 333
유동성장기부채(요약) 333
기타유동부채(요약) 333
비유동부채(요약) 333
사채(요약) 333
장기차입금(요약) 333
제충당금(요약) 333
기타비유동부채(요약) 333
이연부채(요약) 333
자본총계(요약) 333
자본금(요약) 333
자본잉여금(요약) 333
자본조정(요약) 333
기타포괄손익누계액(요약) 333
이익잉여금(요약) 333
*미처분이익잉여금 및 차기이월미처분이익잉여금(요약) 333
*당기순이익(요약) 333
부채와자본총계(요약) 333
매출액(요약) 333
매출원가(요약) 333
매출총이익(요약) 333
판매비와 관리비(요약) 333
급료 333
퇴직급여(요약) 333
복리후생비(요약) 333
세금과공과(요약) 333
임차료(요약) 333
감가상각비 333
연구비 333
기타 판매비와 관리비(요약) 333
영업이익(요약) 333
영업외수익(요약) 333
이자수익(요약) 333
배당금수익(요약) 333
외환차익(요약) 333
외화환산이익(요약) 333
지분법이익(요약) 333
기타영업외수익(요약) 333
영업외비용(요약) 333
이자비용(요약) 333
외환차손(요약) 333
외화환산손실(요약) 333
지분법손실(요약) 333
기타영업외비용(요약) 333
법인세비용차감전(계속사업)손익(요약) 333
(계속사업손익)법인세비용(요약) 333
계속사업이익(요약) 333
중단사업이익(요약) 333
*법인세효과(요약) 333
당기순이익(요약) 333
주당계속사업이익(요약) 333
주당순이익(요약) 333
희석화주당계속사업이익(요약) 333
희석화주당순이익(요약) 333
CPA수정후 당기순이익(요약) 333
*주당경상이익(2007년 이전 발생)(요약) 6968
*희석화주당경상이익(2007년 이전 발생)(요약) 6968
총자본증가율 1523
유형자산증가율 1523
유동자산증가율 1523
영업이익증가율 1523
경상이익증가율 (2007년 이전 발생) 9236
순이익증가율 1523
재고자산증가율 1523
자기자본증가율 1523
매출액증가율 1523
종업원1인당 부가가치증가율 1523
종업원수증가율 1523
비유동자산증가율 1523
종업원1인당 매출액증가율 1523
종업원1인당 인건비증가율 1523
매출액총이익률 1523
매출액영업이익률 1523
매출액경상이익률 (2007년 이전 발생) 9236
매출액순이익률 1523
총자본사업이익률 1523
총자본영업이익률 1523
총자본경상이익률 (2007년 이전 발생) 9236
총자본순이익률 1523
자기자본영업이익률 1523
자기자본경상이익률 (2007년 이전 발생) 9236
자기자본순이익률 1523
자본금영업이익률 1523
자본금경상이익률 (2007년 이전 발생) 9236
자본금순이익률 1523
조세 대 조세차감전순이익률 1523
기업경상이익률 (2007년 이전 발생) 9236
투자수익률 (2007년 이전 발생) 9236
기업순이익률 1523
경영자본영업이익률 1523
경영자본순이익률 1523
매출원가 대 매출액비율 1523
영업비율 1523
영업외손익률 1523
금융비용부담률 1523
외환이익 대 매출액비율 1523
광고선전비 대 매출액비율 1523
수지비율 1523
인건비 대 총비용비율 1523
조세공과 대 총비용비율 1523
금융비용 대 총비용비율 1523
감가상각비 대 총비용비율 1523
감가상각률 1523
누적감가상각률 1523
이자부담률 1523
지급이자율 1523
차입금평균이자율 1523
사내유보율 1523
사내유보 대 자기자본비율 1523
적립금비율(재정비율) 1523
평균배당률 1523
자기자본배당률 1523
배당성향 1523
1주당매출액 1523
EPS(Earning Per Share) 1523
1주당경상이익 (2007년 이전 발생) 9236
CPS(Cash flow Per Share) 1523
BPS(Book-value Per Share) 1523
유보율 1523
R & D 투자효율 1523
1주당영업이익 1523
유동자산구성비율 1523
재고자산 대 유동자산비율 1523
유동자산 대 비유동자산비율 1523
당좌자산구성비율 1523
비유동자산구성비율 1523
자기자본구성비율 1523
타인자본구성비율 1523
자기자본배율 1523
비유동비율 1523
비유동장기적합률 1523
유동비율 1523
당좌비율 1523
현금비율 1519
원재료비율 1523
매출채권비율 1523
재고자산 대 순운전자본비율 1523
매출채권 대 매입채무비율 1523
매출채권 대 상 1523
매입채무 대 재고자산비율 1523
부채비율 1523
유동부채비율 1523
단기차입금 대 총차입금비율 1523
비유동부채비율 1523
비유동부채 대 순운전자본비율 1523
순운전자본비율 1523
차입금의존도 1523
차입금비율 1523
이자보상배율(이자비용) 1523
이자보상배율(순금융비용) 1523
유보액대비율 1523
유보액 대 납입자본배율 1523
유동자산집중도 1523
비유동자산집중도 1523
투자집중도 1523
CASH FLOW 대 부채비율 1523
CASH FLOW 대 차입금비율 1523
CASH FLOW 대 총자본비율 1523
CASH FLOW 대 매출액비율 1523
영업이익대비이자보상배율 1523
총자본회전률 1523
경영자본회전률 1523
자기자본회전률 1523
자본금회전률 1523
타인자본회전률 1523
매입채무회전률 1523
매입채무회전기간 1523
유동자산회전률 1523
당좌자산회전률 1523
재고자산회전률 1523
재고자산회전기간 1523
상품 1523
원 1523
재공품회전률 1523
매출채권회전률 1523
매출채권회전기간 1523
비유동자산회전률 1523
유형자산회전율 1523
순운전자본회전률 1523
운전자본회전률 1523
1회전기간 1523
부가가치 1525
종업원1인당 부가가치 1525
종업원1인당 매출액 1525
종업원1인당 경상이익 (2007년 이전 발생) 9238
종업원1인당 순이익 1525
종업원1인당 인건비 1525
노동장비율 1525
기계장비율 1525
자본집약도 1525
총자본투자효율 1525
설비투자효율 1525
기계투자효율 1525
부가가치율 1525
노동소득분배율 1525
자본분배율 1525
이윤분배율 1525
부가가치.1 1525
법인세비용차감전(계속사업)손익 1525
인건비 1525
금융비용 1525
임차료 1525
조세공과 1525
감가상각비.1 1525
종업원1인당 부가가치.1 1525
총자본투자효율.1 1525
기계투자효율.1 1525
부가가치율.1 1525
종업원수 1525
PER(Price earnings ratio)(최고) 8870
PER(Price earnings ratio)(최저) 8870
PBR(Price book-value ratio)(최고) 8870
PBR(Price book-value ratio)(최저) 8870
PCR(Price cash-flow ratio)(최고) 8870
PCR(Price cash-flow ratio)(최저) 8870
PSR(Price sales ratio)(최고) 8870
PSR(Price sales ratio)(최저) 8870
기업가치(EV) 8875
EBITDA 8875
EBITDA/매출액 8875
EBITDA/금융비용 8875
EBITDA/평균발행주식수 8875
EV/EBITDA 9577

# **primary key 만들기**

In [101]:
train['년'] = (train['회계년도'].str[0:4].astype(int) + 1).astype(str)
train_full['년'] = (train_full['회계년도'].str[0:4].astype(int) + 1).astype(str)

In [102]:
""" train['년'] = (train['회계년도'].str[0:4].astype(int)).astype(str)
train_full['년'] = (train_full['회계년도'].str[0:4].astype(int)).astype(str) """

" train['년'] = (train['회계년도'].str[0:4].astype(int)).astype(str)\ntrain_full['년'] = (train_full['회계년도'].str[0:4].astype(int)).astype(str) "

In [103]:
train['key'] = train['거래소코드'].astype(str) + train['년'].astype(str)
train_full['key'] = train_full['거래소코드'].astype(str) + train_full['년'].astype(str)

In [104]:
bankrupt['년'] = bankrupt['시간']
bankrupt = bankrupt.reset_index()

for i in range(len(bankrupt)):
    bankrupt['년'][i] = bankrupt['시간'][i][0:4]

C:\Users\JH\AppData\Local\Temp/ipykernel_38720/3093006912.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bankrupt['년'][i] = bankrupt['시간'][i][0:4]

In [105]:
bankrupt['key'] = bankrupt['종목코드'].astype(str) + bankrupt['년'].astype(str)

bankrupt.loc[bankrupt['제출인'] == '제낙스']

,index,번호,시간,회사명,종목코드,공시제목,제출인,년,key
351,57,193,2020-03-25 17:48,제낙스,65620,[정정]내부결산시점 관리종목 지정 또는 상장폐지 사유 발생,제낙스,2020,656202020
359,65,185,2020-03-13 16:17,제낙스,65620,내부결산시점 관리종목 지정 또는 상장폐지 사유 발생[정],제낙스,2020,656202020

In [106]:
bankrupt

,index,번호,시간,회사명,종목코드,공시제목,제출인,년,key
0,0,24,2002-10-31 18:27,정산애강,22220,부도발생및은행거래정지,정산애강,2002,222202002
1,1,23,2002-10-08 12:06,대호특수강,21040,은행거래재개,대호특수강,2002,210402002
2,2,22,2002-05-21 18:16,에이치엘비,28300,회사정리절차종결결정,에이치엘비,2002,283002002
3,3,21,2002-04-17 17:42,에이치엘비,28300,회사정리절차종결신청,에이치엘비,2002,283002002
4,4,20,2001-12-26 14:58,대호특수강,21040,회사정리절차개시결정,대호특수강,2001,210402001
...,...,...,...,...,...,...,...,...,...
389,95,155,2020-02-12 16:21,에스앤더블류,103230,내부결산시점 관리종목 지정 또는 상장폐지 사유 발생,에스앤더블류,2020,1032302020
390,96,154,2020-02-11 17:02,파나진,46210,내부결산시점 관리종목 지정 또는 상장폐지 사유 발생,파나진,2020,462102020
391,97,153,2020-02-10 16:32,국순당,43650,내부결산시점 관리종목 지정 또는 상장폐지 사유 발생[정],국순당,2020,436502020
392,98,152,2020-02-10 16:24,유아이디,69330,내부결산시점 관리종목 지정 또는 상장폐지 사유 발생,유아이디,2020,693302020
393,99,151,2020-02-07 17:14,이녹스,88390,내부결산시점 관리종목 지정 또는 상장폐지 사유 발생(자회사의 주요경영사항)[정],이녹스,2020,883902020

In [107]:
tt.loc[tt['거래소코드'] == 33850.0]

,회사명_x,거래소코드,회계년도,소속코드,상장폐지일,년_x,key,index,번호,시간,회사명_y,종목코드,공시제목,제출인,년_y
14186,(주)지노시스템,33850.0,2000/12,4.0,2011/05/07,2000,338502000,14.0,10.0,2000-08-07 15:44,지노시스템,33850.0,화의채무변제완료보고서제출,지노시스템,2000
14187,(주)지노시스템,33850.0,2001/12,4.0,2011/05/07,2001,338502001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14188,(주)지노시스템,33850.0,2002/12,4.0,2011/05/07,2002,338502002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14189,(주)지노시스템,33850.0,2003/12,4.0,2011/05/07,2003,338502003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14190,(주)지노시스템,33850.0,2004/12,4.0,2011/05/07,2004,338502004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14191,(주)지노시스템,33850.0,2005/12,4.0,2011/05/07,2005,338502005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14192,(주)지노시스템,33850.0,2006/12,4.0,2011/05/07,2006,338502006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14193,(주)지노시스템,33850.0,2007/12,4.0,2011/05/07,2007,338502007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14194,(주)지노시스템,33850.0,2008/12,4.0,2011/05/07,2008,338502008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14195,(주)지노시스템,33850.0,2009/12,4.0,2011/05/07,2009,338502009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14196,(주)지노시스템,33850.0,2010/12,4.0,2011/05/07,2010,338502010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [108]:
bankrupt.loc[bankrupt['종목코드'] == 33850.0]

,index,번호,시간,회사명,종목코드,공시제목,제출인,년,key
14,14,10,2000-08-07 15:44,지노시스템,33850,화의채무변제완료보고서제출,지노시스템,2000,338502000

In [109]:
tt = pd.merge(train, bankrupt, on='key', how = 'outer')
tt

,회사명_x,거래소코드,회계년도,소속코드,상장폐지일,년_x,key,index,번호,시간,회사명_y,종목코드,공시제목,제출인,년_y
0,(주)CMG제약,58820.0,2000/12,5.0,NaN,2001,588202001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,(주)CMG제약,58820.0,2001/12,5.0,NaN,2002,588202002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,(주)CMG제약,58820.0,2002/12,5.0,NaN,2003,588202003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,(주)CMG제약,58820.0,2003/12,5.0,NaN,2004,588202004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,(주)CMG제약,58820.0,2004/12,5.0,NaN,2005,588202005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27374,NaN,NaN,NaN,NaN,NaN,NaN,1019702015,89.0,12.0,2015-03-02 18:15,우양에이치씨,101970.0,회생절차개시신청,우양에이치씨,2015
27375,NaN,NaN,NaN,NaN,NaN,NaN,336002020,6.0,244.0,2020-11-17 16:01,럭슬,33600.0,[정정]회생절차개시신청,럭슬,2020
27376,NaN,NaN,NaN,NaN,NaN,NaN,336002020,20.0,230.0,2020-09-02 15:40,럭슬,33600.0,회생절차개시신청[정],럭슬,2020
27377,NaN,NaN,NaN,NaN,NaN,NaN,862502020,29.0,221.0,2020-07-28 14:54,이노와이즈,86250.0,회생절차개시결정,화신테크,2020
27378,NaN,NaN,NaN,NaN,NaN,NaN,862502020,44.0,206.0,2020-05-08 15:03,이노와이즈,86250.0,회생절차개시신청,화신테크,2020

In [110]:
print(train.shape, bankrupt.shape, tt.shape)

(27166, 7) (394, 9) (27379, 15)

In [111]:
tf.loc[tf['종목코드'] == 39060.0]

,회사명_x,거래소코드,회계년도,소속코드,상장폐지일,년_x,key,index,번호,시간,회사명_y,종목코드,공시제목,제출인,년_y
27314,임시,임시,임시,임시,임시,임시,390602008,1.0,11.0,2008-12-09 12:36,아이비진,39060.0,부도발생,아이비진,2008

In [112]:
train.loc[train['거래소코드'] == 39060.0]

          회사명  거래소코드     회계년도  소속코드       상장폐지일     년        key
7535  (주)아이비진  39060  2001/12     4  2008/12/20  2002  390602002
7536  (주)아이비진  39060  2002/12     4  2008/12/20  2003  390602003
7537  (주)아이비진  39060  2003/12     4  2008/12/20  2004  390602004
7538  (주)아이비진  39060  2004/12     4  2008/12/20  2005  390602005
7539  (주)아이비진  39060  2005/12     4  2008/12/20  2006  390602006
7540  (주)아이비진  39060  2006/12     4  2008/12/20  2007  390602007
7541  (주)아이비진  39060  2007/12     4  2008/12/20  2008  390602008

In [113]:
tf = tt.fillna('임시')
tf

,회사명_x,거래소코드,회계년도,소속코드,상장폐지일,년_x,key,index,번호,시간,회사명_y,종목코드,공시제목,제출인,년_y
0,(주)CMG제약,58820.0,2000/12,5.0,임시,2001,588202001,임시,임시,임시,임시,임시,임시,임시,임시
1,(주)CMG제약,58820.0,2001/12,5.0,임시,2002,588202002,임시,임시,임시,임시,임시,임시,임시,임시
2,(주)CMG제약,58820.0,2002/12,5.0,임시,2003,588202003,임시,임시,임시,임시,임시,임시,임시,임시
3,(주)CMG제약,58820.0,2003/12,5.0,임시,2004,588202004,임시,임시,임시,임시,임시,임시,임시,임시
4,(주)CMG제약,58820.0,2004/12,5.0,임시,2005,588202005,임시,임시,임시,임시,임시,임시,임시,임시
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27374,임시,임시,임시,임시,임시,임시,1019702015,89.0,12.0,2015-03-02 18:15,우양에이치씨,101970.0,회생절차개시신청,우양에이치씨,2015
27375,임시,임시,임시,임시,임시,임시,336002020,6.0,244.0,2020-11-17 16:01,럭슬,33600.0,[정정]회생절차개시신청,럭슬,2020
27376,임시,임시,임시,임시,임시,임시,336002020,20.0,230.0,2020-09-02 15:40,럭슬,33600.0,회생절차개시신청[정],럭슬,2020
27377,임시,임시,임시,임시,임시,임시,862502020,29.0,221.0,2020-07-28 14:54,이노와이즈,86250.0,회생절차개시결정,화신테크,2020
27378,임시,임시,임시,임시,임시,임시,862502020,44.0,206.0,2020-05-08 15:03,이노와이즈,86250.0,회생절차개시신청,화신테크,2020

In [114]:
tf.loc[tf['회사명_x'] == '임시', '회사명_y'].unique()

array(['ST&I', '지노시스템', '엠투엔', '아진산업', '에이치엘비', '엔케이바이오', 'GK파워', '디보스',
       '평안물산', '에이프로테크놀로지', '우양에이치씨', '럭슬', '이노와이즈'], dtype=object)

In [90]:
len(tf.loc[tf['회사명_x'] == '임시', '회사명_y'].unique())

64

In [115]:
len(tf.loc[tf['회사명_x'] == '임시', '회사명_y'].unique())

13

In [116]:
tf.loc[tf['회사명_x'] == '임시', '종목코드'].unique()

array([31800.0, 33850.0, 33310.0, 13310.0, 28300.0, 19260.0, 54020.0,
       80140.0, 37240.0, 45470.0, 101970.0, 33600.0, 86250.0],
      dtype=object)

In [342]:
train.loc[train['거래소코드'] == 86250.0]

           회사명  거래소코드     회계년도  소속코드       상장폐지일     년        key
19133  (주)화신테크  86250  2000/12     4  2021/08/31  2001  862502001
19134  (주)화신테크  86250  2001/12     4  2021/08/31  2002  862502002
19135  (주)화신테크  86250  2002/12     4  2021/08/31  2003  862502003
19136  (주)화신테크  86250  2003/12     4  2021/08/31  2004  862502004
19137  (주)화신테크  86250  2004/12     4  2021/08/31  2005  862502005
19138  (주)화신테크  86250  2005/12     4  2021/08/31  2006  862502006
19139  (주)화신테크  86250  2006/12     4  2021/08/31  2007  862502007
19140  (주)화신테크  86250  2007/12     4  2021/08/31  2008  862502008
19141  (주)화신테크  86250  2008/12     4  2021/08/31  2009  862502009
19142  (주)화신테크  86250  2009/12     4  2021/08/31  2010  862502010
19143  (주)화신테크  86250  2010/12     4  2021/08/31  2011  862502011
19144  (주)화신테크  86250  2011/12     4  2021/08/31  2012  862502012
19145  (주)화신테크  86250  2012/12     4  2021/08/31  2013  862502013
19146  (주)화신테크  86250  2013/12     4  2021/08/31  2014  862502014
19147  (주)화신테크  86250  2014/12     4  2021/08/31  2015  862502015
19148  (주)화신테크  86250  2015/12     4  2021/08/31  2016  862502016
19149  (주)화신테크  86250  2016/12     4  2021/08/31  2017  862502017
19150  (주)화신테크  86250  2017/12     4  2021/08/31  2018  862502018
19151  (주)화신테크  86250  2018/12     4  2021/08/31  2019  862502019
19152  (주)화신테크  86250  2020/12     4  2021/08/31  2021  862502021

In [343]:
bankrupt.loc[bankrupt['종목코드'] == 86250.0]

,index,번호,시간,회사명,종목코드,공시제목,제출인,년,key
323,29,221,2020-07-28 14:54,이노와이즈,86250,회생절차개시결정,화신테크,2020,862502020
338,44,206,2020-05-08 15:03,이노와이즈,86250,회생절차개시신청,화신테크,2020,862502020