In [1]:
import pandas as pd

C:\Users\user\AppData\Local\Programs\Python\Python39\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\user\AppData\Local\Programs\Python\Python39\lib\site-packages\numpy\.libs\libopenblas.QVLO2T66WEPI7JZ63PS3HMOHFEY472BC.gfortran-win_amd64.dll
C:\Users\user\AppData\Local\Programs\Python\Python39\lib\site-packages\numpy\.libs\libopenblas.XWYDX2IKJW2NMTWSFYNGFUWKQU3LYTCZ.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [ ]:
tt = pd.read_csv(r'C:\apps\Ubion-CorporateBankruptcyAnalysis\Code\SH\csv\대표이사변경00-20.csv', index_col=0) #kind에서 크롤링해온 대표이사변경 관련 데이터셋
df = pd.read_csv(r'..\..\..\Data\최종데이터셋\Finaldataset_ver3.csv', index_col=0)

In [7]:
df = pd.read_csv(r'..\..\..\Data\최종데이터셋\Finaldataset_ver3.csv', index_col=0)
t_11 = pd.read_csv(r'..\..\..\Data\데이터정리중\kindtextdata\0020공시11.csv', index_col=0)
t_56 = pd.read_csv(r'..\..\..\Data\데이터정리중\kindtextdata\0020공시56.csv', index_col=0)
t_65 = pd.read_csv(r'..\..\..\Data\데이터정리중\kindtextdata\0020공시65.csv', index_col=0)
t_67 = pd.read_csv(r'..\..\..\Data\데이터정리중\kindtextdata\0020공시67.csv', index_col=0)

In [10]:
t_56

,회사명,거래소코드,공시발생일,공시제목,text,link
0,신원종합개발,017000,2000-08-18 00:00,최대주주또는주요주주변경(신원종합개발(주) 최대주주 변경),신원종합개발(주) 최대주주 변경\r\n\r\n\r\n1. 최대주주 변경내용\r\n ...,https://kind.krx.co.kr/external/2000/08/18/M00...
1,에이치엘비,028300,2000-08-01 00:00,최대주주또는주요주주변경(국제정공(주) 최대주주 변경),국제정공(주) 최대주주 변경\r\n\r\n\r\n1. 최대주주 변경내용\r\n ...,https://kind.krx.co.kr/external/2000/08/01/M00...
2,에이치엘비,028300,2000-07-27 00:00,최대주주또는주요주주변경(국제정공(주) 최대주주 변경),국제정공(주) 최대주주 변경\r\n\r\n\r\n1. 최대주주 변경내용\r\n ...,https://kind.krx.co.kr/external/2000/07/27/M00...
3,휴먼이노텍,013630,2000-07-24 00:00,최대주주또는주요주주변경(대정기계공업(주) 최대주주 변경),대정기계공업(주) 최대주주 변경\r\n\r\n\r\n1. 최대주주 변경내용\r\n ...,https://kind.krx.co.kr/external/2000/07/24/M00...
4,써니트렌드,035500,2000-07-19 00:00,최대주주또는주요주주변경((주)디지탈임팩트 최대주주 변경 관련),(주)디지탈임팩트 최대주주 변경 관련\r\n\r\n\r\n당사가 기공시한 (주)새한...,https://kind.krx.co.kr/external/2000/07/19/M00...
...,...,...,...,...,...,...
4759,엔텔스,069410,2020-01-10 16:55,최대주주 변경을 수반하는 주식양수도 계약 체결,\r\n\r\n\r\n\r\n\r\n\r\n:: 71207_최대주주 변경을 수반하는...,https://kind.krx.co.kr/external/2020/01/10/000...
4760,부방,014470,2020-01-09 18:29,최대주주변경,\r\n\r\n\r\n\r\n\r\n\r\n:: 71209_최대주주 변경\r\n\r...,https://kind.krx.co.kr/external/2020/01/09/000...
4761,코디엠,224060,2020-01-08 16:13,[정정]최대주주 변경을 수반하는 주식 담보제공 계약 체결,\r\n\r\n\r\n\r\n\r\n\r\n:: 71993_최대주주 변경을 수반하는...,https://kind.krx.co.kr/external/2020/01/08/000...
4762,코썬바이오,204990,2020-01-07 17:42,[정정]최대주주 변경을 수반하는 주식 담보제공 계약 체결,\r\n\r\n\r\n\r\n\r\n\r\n:: 71993_최대주주 변경을 수반하는...,https://kind.krx.co.kr/external/2020/01/07/000...
4763,웰크론,065950,2020-01-02 17:01,[정정]최대주주 변경을 수반하는 주식 담보제공 계약 체결,\r\n\r\n\r\n\r\n\r\n\r\n:: 71993_최대주주 변경을 수반하는...,https://kind.krx.co.kr/external/2020/01/02/000...

In [17]:
t_11.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7528 entries, 0 to 7527
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   회사명     7528 non-null   object
 1   거래소코드   7528 non-null   object
 2   공시발생일   7528 non-null   object
 3   공시제목    7528 non-null   object
 4   text    7528 non-null   object
 5   link    7528 non-null   object
dtypes: object(6)
memory usage: 411.7+ KB

## 거래소코드 앞에 붙은 0 제거

In [26]:
# 거래소코드 앞에 붙은 0 제거

def elimination_0(data):
    for i in range(len(data)):
        if data['거래소코드'][i][:1] == '0':
            data['거래소코드'][i] = data['거래소코드'][i].lstrip("0")
    else : pass

In [29]:
elimination_0(t_67)

IndexError: invalid index to scalar variable.

In [33]:
t_11

,회사명,거래소코드,공시발생일,공시제목,text,link
0,엔케이바이오,19260,2000-12-29 18:25,대표이사변경,\n\n\n\n\n\n\n\n\n\n대표이사 변경 안내\n\n\n\n1.변경내용\n...,https://kind.krx.co.kr/external/2000/12/29/K00...
1,무한투자,34510,2000-12-20 16:20,대표이사변경,\n\n\n\n\n\n\n\n\n\n대표이사 변경 안내\n\n\n\n1.변경내용\n...,https://kind.krx.co.kr/external/2000/12/20/K00...
2,휴먼이노텍,13630,2000-12-18 15:14,대표이사변경,\n\n\n\n\n\n\n\n\n\n대표이사 변경 안내\n\n\n\n1.변경내용\n...,https://kind.krx.co.kr/external/2000/12/18/K00...
3,디에스티,33430,2000-12-18 14:02,대표이사변경,\n\n\n\n\n\n\n\n\n\n대표이사 변경 안내\n\n\n\n1.변경내용\n...,https://kind.krx.co.kr/external/2000/12/18/K00...
4,BNGT,32790,2000-12-15 16:54,대표이사변경,\n\n\n\n\n\n\n\n\n\n대표이사 변경 안내\n\n\n\n1.변경내용\n...,https://kind.krx.co.kr/external/2000/12/15/K00...
...,...,...,...,...,...,...
7523,서울전자통신,27040,2020-01-02 17:25,대표이사변경,\n\n\n\n\n\n:: 70656_대표이사 변경\n\n\n\n\n\n\n\n\n...,https://kind.krx.co.kr/external/2020/01/02/000...
7524,릭스솔루션,29480,2020-01-02 17:11,대표이사변경,\n\n\n\n\n\n:: 70656_대표이사 변경\n\n\n\n\n\n\n\n\n...,https://kind.krx.co.kr/external/2020/01/02/000...
7525,지니틱스,303030,2020-01-02 17:10,대표이사변경,\n\n\n\n\n\n:: 70656_대표이사 변경\n\n\n\n\n\n\n\n\n...,https://kind.krx.co.kr/external/2020/01/02/000...
7526,씨티씨바이오,60590,2020-01-02 14:11,대표이사변경,\n\n\n\n\n\n:: 70656_대표이사 변경\n\n\n\n\n\n\n\n\n...,https://kind.krx.co.kr/external/2020/01/02/000...
7527,수산아이앤티,50960,2020-01-02 13:53,대표이사변경,\n\n\n\n\n\n:: 70656_대표이사 변경\n\n\n\n\n\n\n\n\n...,https://kind.krx.co.kr/external/2020/01/02/000...

## key 생성

In [34]:
# key 생성

def key_maker(data):
    data['년'] = data['공시발생일'].str[0:4].astype(int)
    data['key'] = data['거래소코드'].astype(str) + data['년'].astype(str)

In [38]:
key_maker(t_11)
key_maker(t_56)
key_maker(t_65)
key_maker(t_67)

In [41]:
t_67

,회사명,거래소코드,공시발생일,공시제목,text,link,년,key
0,씨엔씨엔터,38420,2005-12-23 19:53,횡령사고발생,\r\n\r\n\r\n\r\n\r\n\r\n\r\n횡령사고 발생\r\n\r\n\r\...,https://kind.krx.co.kr/external/2005/12/23/K00...,2005,384202005
1,넥슨지티,41140,2005-12-08 19:49,횡령사고발생,\r\n\r\n\r\n\r\n\r\n\r\n\r\n횡령사고 발생\r\n\r\n\r\...,https://kind.krx.co.kr/external/2005/12/08/K00...,2005,411402005
2,예일바이오텍,54250,2005-12-06 19:44,횡령사고발생,\r\n\r\n\r\n\r\n\r\n\r\n\r\n횡령사고 발생\r\n\r\n\r\...,https://kind.krx.co.kr/external/2005/12/06/K00...,2005,542502005
3,플러스프로핏,36660,2005-11-07 18:27,횡령사고발생,\r\n\r\n\r\n\r\n\r\n\r\n\r\n횡령사고 발생\r\n\r\n\r\...,https://kind.krx.co.kr/external/2005/11/07/K00...,2005,366602005
4,영진코퍼레이션,53330,2005-08-01 18:19,[정정]횡령사고발생,\r\n\r\n\r\n\r\n\r\n\r\n\r\n정 정 신 고 (보고)\r\n\r...,https://kind.krx.co.kr/external/2005/08/01/K00...,2005,533302005
...,...,...,...,...,...,...,...,...
825,시티랩스,139050,2018-02-12 16:54,횡령ㆍ배임 혐의 진행사항,\r\n\r\n\r\n\r\n\r\n\r\n:: 70057_횡령ㆍ배임 혐의 진행사항...,https://kind.krx.co.kr/external/2018/02/12/000...,2018,1390502018
826,이매진아시아,36260,2018-01-25 15:33,횡령ㆍ배임사실확인,\r\n\r\n\r\n\r\n\r\n\r\n:: 70009_횡령ㆍ배임 사실확인\r\...,https://kind.krx.co.kr/external/2018/01/25/000...,2018,362602018
827,엠피대산,65150,2018-01-24 15:37,횡령ㆍ배임사실확인,\r\n\r\n\r\n\r\n\r\n\r\n:: 70009_횡령ㆍ배임 사실확인\r\...,https://kind.krx.co.kr/external/2018/01/24/000...,2018,651502018
828,제이테크놀로지,35480,2018-01-05 18:43,횡령ㆍ배임혐의발생,\r\n\r\n\r\n\r\n\r\n\r\n:: 70008_횡령ㆍ배임 혐의발생\r\...,https://kind.krx.co.kr/external/2018/01/05/000...,2018,354802018
829,케이에스피,73010,2018-01-04 17:08,횡령ㆍ배임 혐의 진행사항,\r\n\r\n\r\n\r\n\r\n\r\n:: 70057_횡령ㆍ배임 혐의 진행사항...,https://kind.krx.co.kr/external/2018/01/04/000...,2018,730102018

## key 기준 value_counts df 생성

In [48]:
# 함수 만들고싶었는데 실패 ㅠ
# for df in [t_11, t_56, t_65, t_67]:
#     df['key'].value_counts()
#     subset_{}.format(df) = pd.DataFrame({'key' : df['key'].value_counts().index, '대표이사 변경' : df['key'].value_counts().values})

SyntaxError: invalid syntax (Temp/ipykernel_27676/297837413.py, line 3)

In [52]:
# 대표이사 변경
t_11['key'].value_counts()
subset_11 = pd.DataFrame({'key' : t_11['key'].value_counts().index, '대표이사 변경' : t_11['key'].value_counts().values})
subset_11

            key  대표이사 변경
0     540102007        9
1     531102016        9
2     787002008        7
3     760902008        7
4     386902009        7
...         ...      ...
5278  110402009        1
5279  396702009        1
5280  280802009        1
5281  746002009        1
5282  605902020        1

[5283 rows x 2 columns]

In [53]:
# 최대주주 변경
t_56['key'].value_counts()
subset_56 = pd.DataFrame({'key' : t_56['key'].value_counts().index, '최대주주 변경' : t_56['key'].value_counts().values})
subset_56

             key  최대주주 변경
0      364202019       13
1     2148702017       11
2     2263502017       10
3      522102009       10
4      144202008       10
...          ...      ...
2762   741402009        1
2763   859902009        1
2764   787002009        1
2765   237902009        1
2766  2049902020        1

[2767 rows x 2 columns]

In [55]:
# 최대주주 변경
t_65['key'].value_counts()
subset_65 = pd.DataFrame({'key' : t_65['key'].value_counts().index, '회계처리위반' : t_65['key'].value_counts().values})
subset_65

           key  회계처리위반
0    208602001       3
1    426002003       3
2    350802002       3
3    195402004       3
4    396102000       2
..         ...     ...
342  668502005       1
343  667902005       1
344  438902005       1
345  463102005       1
346  664302018       1

[347 rows x 2 columns]

In [57]:
# 횡령배임
t_67['key'].value_counts()
subset_67 = pd.DataFrame({'key' : t_67['key'].value_counts().index, '횡령배임' : t_67['key'].value_counts().values})
subset_67

            key  횡령배임
0     659402019    20
1     582202020    13
2     435902019    12
3     529702010    11
4    9500302011     8
..          ...   ...
426   416302010     1
427   410302010     1
428   372402010     1
429   504702010     1
430   354802018     1

[431 rows x 2 columns]

## 생성한 subset을 df와 merge
subset_11<br>
subset_56<br>
subset_65<br>
subset_67<br>

In [63]:
#df key int라서 다른 subset과 동일하게 str로 변환해줌
df['key']=df['key'].astype(str)

In [ ]:
# subset_11<br>
# subset_56<br>
# subset_65<br>
# subset_67<br>
#df.merge(subset, how='outer', on='key')

In [68]:
subset_merge = df.merge(subset_11, how='outer', on='key')
subset_merge = subset_merge.merge(subset_56, how='outer', on='key')
subset_merge = subset_merge.merge(subset_65, how='outer', on='key')
subset_merge = subset_merge.merge(subset_67, how='outer', on='key')

In [74]:
subset_merge

,회사명,거래소코드,회계년도,소속코드,상장폐지일,감사의견코드,자기자본배당률,금융비용 대 부채비율,자기자본배율,유동부채비율,...,link,TS,폐지사유,폐지사유요약,정기공시제목,수시공시제목,대표이사 변경,최대주주 변경,회계처리위반,횡령배임
0,(주)CMG제약,58820.0,2000/12,5.0,0,UQ,0.0,0.019074,179.37,131.99,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
1,(주)CMG제약,58820.0,2001/12,5.0,0,UQ,0.0,0.023517,179.37,131.99,...,0,0,0,0,0,0,1.0,NaN,NaN,NaN
2,(주)CMG제약,58820.0,2002/12,5.0,0,UQ,0.0,0.043081,133.37,132.37,...,0,0,0,0,0,0,1.0,NaN,NaN,NaN
3,(주)CMG제약,58820.0,2003/12,5.0,0,UQ,0.0,0.058531,131.30,71.46,...,0,0,0,0,0,0,1.0,NaN,NaN,NaN
4,(주)CMG제약,58820.0,2004/12,5.0,0,UQ,0.0,0.047346,52.25,101.56,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27693,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
27694,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
27695,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
27696,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
27697,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [77]:
subset_merge.isnull().sum().sort_values()

key                0
회사명              545
수시공시제목           545
정기공시제목           545
폐지사유요약           545
폐지사유             545
TS               545
link             545
text             545
공시발생일            545
부도               545
년                545
총자산회전율           545
누적수익성비율          545
총자산영업이익률         545
감사의견코드           545
총자본투자효율          545
유동자산회전률          545
매입채무회전률          545
유동부채비율           545
자기자본배율           545
금융비용 대 부채비율      545
자기자본배당률          545
순운전자본비율          545
상장폐지일            545
소속코드             545
회계년도             545
거래소코드            545
대표이사 변경        22232
최대주주 변경        24813
횡령배임           27187
회계처리위반         27348
dtype: int64

In [79]:
subset_merge['회계처리위반'] = subset_merge['회계처리위반'].fillna(0)
subset_merge['횡령배임'] = subset_merge['횡령배임'].fillna(0)
subset_merge['최대주주 변경'] = subset_merge['최대주주 변경'].fillna(0)
subset_merge['대표이사 변경'] = subset_merge['대표이사 변경'].fillna(0)

In [80]:
subset_merge.isnull().sum().sort_values()

횡령배임             0
최대주주 변경          0
대표이사 변경          0
key              0
회계처리위반           0
수시공시제목         545
정기공시제목         545
폐지사유요약         545
폐지사유           545
TS             545
link           545
text           545
공시발생일          545
부도             545
년              545
총자산회전율         545
회사명            545
순운전자본비율        545
총자본투자효율        545
유동자산회전률        545
매입채무회전률        545
유동부채비율         545
자기자본배율         545
금융비용 대 부채비율    545
자기자본배당률        545
감사의견코드         545
상장폐지일          545
소속코드           545
회계년도           545
거래소코드          545
누적수익성비율        545
총자산영업이익률       545
dtype: int64

In [81]:
subset_merge

,회사명,거래소코드,회계년도,소속코드,상장폐지일,감사의견코드,자기자본배당률,금융비용 대 부채비율,자기자본배율,유동부채비율,...,link,TS,폐지사유,폐지사유요약,정기공시제목,수시공시제목,대표이사 변경,최대주주 변경,회계처리위반,횡령배임
0,(주)CMG제약,58820.0,2000/12,5.0,0,UQ,0.0,0.019074,179.37,131.99,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
1,(주)CMG제약,58820.0,2001/12,5.0,0,UQ,0.0,0.023517,179.37,131.99,...,0,0,0,0,0,0,1.0,0.0,1.0,0.0
2,(주)CMG제약,58820.0,2002/12,5.0,0,UQ,0.0,0.043081,133.37,132.37,...,0,0,0,0,0,0,1.0,0.0,1.0,0.0
3,(주)CMG제약,58820.0,2003/12,5.0,0,UQ,0.0,0.058531,131.30,71.46,...,0,0,0,0,0,0,1.0,0.0,1.0,0.0
4,(주)CMG제약,58820.0,2004/12,5.0,0,UQ,0.0,0.047346,52.25,101.56,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27693,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
27694,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,4.0
27695,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,2.0
27696,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,2.0
27697,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,1.0

In [84]:
subset_merge = subset_merge.dropna()

In [85]:
subset_merge

,회사명,거래소코드,회계년도,소속코드,상장폐지일,감사의견코드,자기자본배당률,금융비용 대 부채비율,자기자본배율,유동부채비율,...,link,TS,폐지사유,폐지사유요약,정기공시제목,수시공시제목,대표이사 변경,최대주주 변경,회계처리위반,횡령배임
0,(주)CMG제약,58820.0,2000/12,5.0,0,UQ,0.00,0.019074,179.37,131.99,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
1,(주)CMG제약,58820.0,2001/12,5.0,0,UQ,0.00,0.023517,179.37,131.99,...,0,0,0,0,0,0,1.0,0.0,1.0,0.0
2,(주)CMG제약,58820.0,2002/12,5.0,0,UQ,0.00,0.043081,133.37,132.37,...,0,0,0,0,0,0,1.0,0.0,1.0,0.0
3,(주)CMG제약,58820.0,2003/12,5.0,0,UQ,0.00,0.058531,131.30,71.46,...,0,0,0,0,0,0,1.0,0.0,1.0,0.0
4,(주)CMG제약,58820.0,2004/12,5.0,0,UQ,0.00,0.047346,52.25,101.56,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27148,흥구석유(주),24060.0,2016/12,5.0,0,UQ,2.10,0.012651,4611.84,5.19,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
27149,흥구석유(주),24060.0,2017/12,5.0,0,UQ,2.08,0.012502,4650.29,12.83,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
27150,흥구석유(주),24060.0,2018/12,5.0,0,UQ,2.48,0.018056,4696.15,5.40,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
27151,흥구석유(주),24060.0,2019/12,5.0,0,UQ,2.83,0.000300,5133.42,6.05,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
27152,흥구석유(주),24060.0,2020/12,5.0,0,UQ,2.74,0.000000,5306.68,3.14,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0

In [86]:
subset_merge.to_csv('Finaldataset_ver4.csv')

In [89]:
t_67

,회사명,거래소코드,공시발생일,공시제목,text,link,년,key
0,씨엔씨엔터,38420,2005-12-23 19:53,횡령사고발생,\r\n\r\n\r\n\r\n\r\n\r\n\r\n횡령사고 발생\r\n\r\n\r\...,https://kind.krx.co.kr/external/2005/12/23/K00...,2005,384202005
1,넥슨지티,41140,2005-12-08 19:49,횡령사고발생,\r\n\r\n\r\n\r\n\r\n\r\n\r\n횡령사고 발생\r\n\r\n\r\...,https://kind.krx.co.kr/external/2005/12/08/K00...,2005,411402005
2,예일바이오텍,54250,2005-12-06 19:44,횡령사고발생,\r\n\r\n\r\n\r\n\r\n\r\n\r\n횡령사고 발생\r\n\r\n\r\...,https://kind.krx.co.kr/external/2005/12/06/K00...,2005,542502005
3,플러스프로핏,36660,2005-11-07 18:27,횡령사고발생,\r\n\r\n\r\n\r\n\r\n\r\n\r\n횡령사고 발생\r\n\r\n\r\...,https://kind.krx.co.kr/external/2005/11/07/K00...,2005,366602005
4,영진코퍼레이션,53330,2005-08-01 18:19,[정정]횡령사고발생,\r\n\r\n\r\n\r\n\r\n\r\n\r\n정 정 신 고 (보고)\r\n\r...,https://kind.krx.co.kr/external/2005/08/01/K00...,2005,533302005
...,...,...,...,...,...,...,...,...
825,시티랩스,139050,2018-02-12 16:54,횡령ㆍ배임 혐의 진행사항,\r\n\r\n\r\n\r\n\r\n\r\n:: 70057_횡령ㆍ배임 혐의 진행사항...,https://kind.krx.co.kr/external/2018/02/12/000...,2018,1390502018
826,이매진아시아,36260,2018-01-25 15:33,횡령ㆍ배임사실확인,\r\n\r\n\r\n\r\n\r\n\r\n:: 70009_횡령ㆍ배임 사실확인\r\...,https://kind.krx.co.kr/external/2018/01/25/000...,2018,362602018
827,엠피대산,65150,2018-01-24 15:37,횡령ㆍ배임사실확인,\r\n\r\n\r\n\r\n\r\n\r\n:: 70009_횡령ㆍ배임 사실확인\r\...,https://kind.krx.co.kr/external/2018/01/24/000...,2018,651502018
828,제이테크놀로지,35480,2018-01-05 18:43,횡령ㆍ배임혐의발생,\r\n\r\n\r\n\r\n\r\n\r\n:: 70008_횡령ㆍ배임 혐의발생\r\...,https://kind.krx.co.kr/external/2018/01/05/000...,2018,354802018
829,케이에스피,73010,2018-01-04 17:08,횡령ㆍ배임 혐의 진행사항,\r\n\r\n\r\n\r\n\r\n\r\n:: 70057_횡령ㆍ배임 혐의 진행사항...,https://kind.krx.co.kr/external/2018/01/04/000...,2018,730102018

In [90]:
subset_merge

,회사명,거래소코드,회계년도,소속코드,상장폐지일,감사의견코드,자기자본배당률,금융비용 대 부채비율,자기자본배율,유동부채비율,...,link,TS,폐지사유,폐지사유요약,정기공시제목,수시공시제목,대표이사 변경,최대주주 변경,회계처리위반,횡령배임
0,(주)CMG제약,58820.0,2000/12,5.0,0,UQ,0.00,0.019074,179.37,131.99,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
1,(주)CMG제약,58820.0,2001/12,5.0,0,UQ,0.00,0.023517,179.37,131.99,...,0,0,0,0,0,0,1.0,0.0,1.0,0.0
2,(주)CMG제약,58820.0,2002/12,5.0,0,UQ,0.00,0.043081,133.37,132.37,...,0,0,0,0,0,0,1.0,0.0,1.0,0.0
3,(주)CMG제약,58820.0,2003/12,5.0,0,UQ,0.00,0.058531,131.30,71.46,...,0,0,0,0,0,0,1.0,0.0,1.0,0.0
4,(주)CMG제약,58820.0,2004/12,5.0,0,UQ,0.00,0.047346,52.25,101.56,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27148,흥구석유(주),24060.0,2016/12,5.0,0,UQ,2.10,0.012651,4611.84,5.19,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
27149,흥구석유(주),24060.0,2017/12,5.0,0,UQ,2.08,0.012502,4650.29,12.83,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
27150,흥구석유(주),24060.0,2018/12,5.0,0,UQ,2.48,0.018056,4696.15,5.40,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
27151,흥구석유(주),24060.0,2019/12,5.0,0,UQ,2.83,0.000300,5133.42,6.05,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
27152,흥구석유(주),24060.0,2020/12,5.0,0,UQ,2.74,0.000000,5306.68,3.14,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0

In [91]:
subset_merge['대표이사 변경'].value_counts()

0.0    22071
1.0     3650
2.0      963
3.0      299
4.0      107
5.0       42
6.0       11
7.0        8
9.0        2
Name: 대표이사 변경, dtype: int64

In [92]:
subset_merge.isnull().sum()

회사명            0
거래소코드          0
회계년도           0
소속코드           0
상장폐지일          0
감사의견코드         0
자기자본배당률        0
금융비용 대 부채비율    0
자기자본배율         0
유동부채비율         0
매입채무회전률        0
유동자산회전률        0
총자본투자효율        0
순운전자본비율        0
누적수익성비율        0
총자산영업이익률       0
총자산회전율         0
년              0
key            0
부도             0
공시발생일          0
text           0
link           0
TS             0
폐지사유           0
폐지사유요약         0
정기공시제목         0
수시공시제목         0
대표이사 변경        0
최대주주 변경        0
회계처리위반         0
횡령배임           0
dtype: int64