In [261]:
import pandas as pd
from tqdm import tqdm

# **중복 키 값 제거**

In [302]:
dataset_ = pd.read_csv(r'C:\Users\JH\Desktop\Final\CBA\Data\최종데이터셋\Finaldataset_ver4.csv',index_col=0)
dataset_.head(3)

,회사명,거래소코드,회계년도,소속코드,상장폐지일,감사의견코드,자기자본배당률,금융비용 대 부채비율,자기자본배율,유동부채비율,...,link,TS,폐지사유,폐지사유요약,정기공시제목,수시공시제목,대표이사 변경,최대주주 변경,회계처리위반,횡령배임
0,(주)CMG제약,58820.0,2000/12,5.0,0,UQ,0.0,0.019074,179.37,131.99,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
1,(주)CMG제약,58820.0,2001/12,5.0,0,UQ,0.0,0.023517,179.37,131.99,...,0,0,0,0,0,0,1.0,0.0,1.0,0.0
2,(주)CMG제약,58820.0,2002/12,5.0,0,UQ,0.0,0.043081,133.37,132.37,...,0,0,0,0,0,0,1.0,0.0,1.0,0.0

In [303]:
dataset_['부도'].value_counts()

1.0    26476
0.0      677
Name: 부도, dtype: int64

In [304]:
dataset_.shape

(27153, 32)

In [305]:
dataset_ = dataset_.drop_duplicates(subset=['key'], keep='first')
dataset_.shape

(26851, 32)

In [306]:
dataset_['부도'].value_counts()

1.0    26339
0.0      512
Name: 부도, dtype: int64

# **폐지 사유 key 매칭**

In [307]:
dataset = pd.read_csv(r'C:\Users\JH\Desktop\Final\CBA\Data\최종데이터셋\Finaldataset_ver4.csv',index_col=0)

In [308]:
dataset['폐지사유요약'] = dataset['폐지사유요약'].replace('0','N')
dataset

,회사명,거래소코드,회계년도,소속코드,상장폐지일,감사의견코드,자기자본배당률,금융비용 대 부채비율,자기자본배율,유동부채비율,...,link,TS,폐지사유,폐지사유요약,정기공시제목,수시공시제목,대표이사 변경,최대주주 변경,회계처리위반,횡령배임
0,(주)CMG제약,58820.0,2000/12,5.0,0,UQ,0.00,0.019074,179.37,131.99,...,0,0,0,N,0,0,0.0,0.0,0.0,0.0
1,(주)CMG제약,58820.0,2001/12,5.0,0,UQ,0.00,0.023517,179.37,131.99,...,0,0,0,N,0,0,1.0,0.0,1.0,0.0
2,(주)CMG제약,58820.0,2002/12,5.0,0,UQ,0.00,0.043081,133.37,132.37,...,0,0,0,N,0,0,1.0,0.0,1.0,0.0
3,(주)CMG제약,58820.0,2003/12,5.0,0,UQ,0.00,0.058531,131.30,71.46,...,0,0,0,N,0,0,1.0,0.0,1.0,0.0
4,(주)CMG제약,58820.0,2004/12,5.0,0,UQ,0.00,0.047346,52.25,101.56,...,0,0,0,N,0,0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27148,흥구석유(주),24060.0,2016/12,5.0,0,UQ,2.10,0.012651,4611.84,5.19,...,0,0,0,N,0,0,0.0,0.0,0.0,0.0
27149,흥구석유(주),24060.0,2017/12,5.0,0,UQ,2.08,0.012502,4650.29,12.83,...,0,0,0,N,0,0,0.0,0.0,0.0,0.0
27150,흥구석유(주),24060.0,2018/12,5.0,0,UQ,2.48,0.018056,4696.15,5.40,...,0,0,0,N,0,0,0.0,0.0,0.0,0.0
27151,흥구석유(주),24060.0,2019/12,5.0,0,UQ,2.83,0.000300,5133.42,6.05,...,0,0,0,N,0,0,0.0,0.0,0.0,0.0
27152,흥구석유(주),24060.0,2020/12,5.0,0,UQ,2.74,0.000000,5306.68,3.14,...,0,0,0,N,0,0,0.0,0.0,0.0,0.0

In [309]:
keyuq = dataset['key'].unique() # key 유니크 값 추출

kindvalue = [] # key에 맞는 폐지사유요약 정리
for i in tqdm(range(len(keyuq))):
    kindvalue.append(dataset.loc[dataset['key'] == keyuq[i]]['폐지사유요약'].values.tolist())

100%|██████████| 26851/26851 [00:15<00:00, 1709.74it/s]

In [310]:
subset = pd.DataFrame({'key':keyuq, '폐지사유요약합본': kindvalue})
subset

             key 폐지사유요약합본
0      588202001      [N]
1      588202002      [N]
2      588202003      [N]
3      588202004      [N]
4      588202005      [N]
...          ...      ...
26846  240602017      [N]
26847  240602018      [N]
26848  240602019      [N]
26849  240602020      [N]
26850  240602021      [N]

[26851 rows x 2 columns]

In [311]:
finalset = dataset_.merge(subset , how='outer', on='key')

In [312]:
finalset = finalset.drop('폐지사유요약', axis=1)

In [313]:
finalset.to_csv(r'C:\Users\JH\Desktop\Final\CBA\Data\최종데이터셋\Finaldataset_ver5.csv', index=False)

In [314]:
finalset['부도'].value_counts()

1.0    26339
0.0      512
Name: 부도, dtype: int64

In [319]:
drop_feature = ['link','TS','폐지사유','text']

In [320]:
finalset = finalset.drop(drop_feature, axis=1)

In [321]:
finalset.to_csv(r'C:\Users\JH\Desktop\Final\CBA\Data\최종데이터셋\Finaldataset_ver5sp.csv', index=False)