In [2]:
import pandas as pd

In [4]:
dataset = pd.read_csv(r'C:\Users\JH\Desktop\Final\CBA\Data\최종데이터셋\Finaldataset.csv')
budo = pd.read_csv(r'C:\Users\JH\Desktop\Final\CBA\Data\데이터정리중\시장조치부도판단ver2.csv')

In [15]:
dataset['정기공시제목'] = dataset['공시제목_x']
dataset['수시공시제목'] = dataset['공시제목_y']

In [16]:
dataset.drop(['공시제목_x','공시제목_y'], axis=1, inplace=True)

In [30]:
bankrupt = dataset.loc[(dataset['소속코드'] == 4) & ((dataset['감사의견코드'] == 'DS') | (dataset['감사의견코드'] == 'DU') | (dataset['감사의견코드'] == 'AG') | (dataset['감사의견코드'] == 'DI') |
(dataset['감사의견코드'] == 'QS') | (dataset['정기공시제목'] != "0") | (dataset['수시공시제목'] != "0"))][['회사명','소속코드','부도','정기공시제목','수시공시제목','감사의견코드']]

In [33]:
len(bankrupt['회사명'].unique())

501

In [17]:
dataset.loc[dataset['부도'] == 0].head(3)

,회사명,거래소코드,회계년도,소속코드,상장폐지일,자기자본배당률,금융비용 대 부채비율,자기자본배율,유동부채비율,매입채무회전률,...,누적수익성비율,총자산영업이익률,총자산회전율,key,부도,공시발생일,공시제목,text,폐지사유,폐지사유요약
574,(주)나노트로닉스,10670.0,2012/12,4.0,2014/04/11,0.0,0.080710,369.83,102.12,5.62,...,0.027377,0.080339,0.364774,106702013,0.0,0,0,0,0,0
583,(주)나노하이텍,71360.0,2008/12,4.0,2009/04/29,0.0,0.034642,76.14,181.05,3.71,...,-0.657429,-0.405456,0.656222,713602009,0.0,0,0,0,0,0
590,(주)나리지*온,36850.0,2006/12,4.0,2010/07/14,0.0,0.055963,167.72,93.11,27.44,...,-0.185122,-0.167348,0.657439,368502007,0.0,0,0,0,0,0

In [23]:
dataset.loc[dataset['공시제목'] != '0'].shape

(50, 23)